In [1]:
import pandas as pd

In [3]:
df_count = pd.read_csv('jesse_daily_transactions.csv')
df_sum = pd.read_csv('jesse_daily_dollar.csv')

In [4]:
df_count.head()

   posteddate  count
0  10/14/2015      4
1  10/15/2015      5
2  10/16/2015      7
3  10/17/2015      6
4  10/18/2015      6

In [5]:
df_sum.head()

   posteddate     sum
0  10/14/2015  457272
1  10/15/2015  184692
2  10/16/2015  187451
3  10/17/2015  482668
4  10/18/2015  194688

In [6]:
df_count.posteddate = pd.to_datetime(df_count.posteddate)
df_count.set_index('posteddate', inplace=True)

In [8]:
df_sum.posteddate = pd.to_datetime(df_sum.posteddate)
df_sum.set_index('posteddate', inplace=True)

In [12]:
df_count_quarterly = df_count.resample('QS').sum()

In [13]:
df_count_weekly = df_count.resample('W').sum()

In [15]:
df_sum_quarterly = df_sum.resample('QS').sum()

In [14]:
df_sum_weekly = df_sum.resample('W').sum()

In [19]:
df_count_quarterly.to_csv('jesse_quarterly_transactions.csv')

In [20]:
df_count_weekly.to_csv('jesse_weekly_transactions.csv')

In [21]:
df_sum_quarterly.to_csv('jesse_quarterly_dollar.csv')
df_sum_weekly.to_csv('jesse_weekly_dollar.csv')